Vorbereitung/Dateien/node-RED/Simulation.json
[{"id":"c4926b1d.5dccb","type":"inject","z":"ac857147.89588","name":"start simulation loop","props":[{"p":"counter","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":40,"wires":[["230a0edd.dc2c92"]]},{"id":"230a0edd.dc2c92","type":"function","z":"ac857147.89588","name":"","func":"t = msg.counter;\nlet temperature = (Math.sin(t/50)*30+(Math.random()-0.5)*2)+303.15;\nlet speed = Math.sin(t/25)*26.666+46.666;\nmsg.temperature = temperature;\nmsg.speed = speed;\nmsg.counter = t+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":80,"wires":[["efaaf480.c0cd98","3d2e2105.88ad9e"]]},{"id":"efaaf480.c0cd98","type":"delay","z":"ac857147.89588","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":120,"wires":[["230a0edd.dc2c92"]]},{"id":"3d2e2105.88ad9e","type":"change","z":"ac857147.89588","name":"set values","rules":[{"t":"set","p":"speed","pt":"global","to":"speed","tot":"msg"},{"t":"set","p":"temperature","pt":"global","to":"temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[[]]}]